.boton-filtros{
    box-sizing: border-box;
    width: 125px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-family: 'Lexend Giga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.boton-perfil{
    box-sizing: border-box;
    width: 276px;
    height: 80px;
    background-color: #7D7D7D;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-family: 'Lexend Giga';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.boton-talles{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-family: 'Lexend Giga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.boton-agregar-carrito{
    box-sizing: border-box;
    width: 276px;
    height: 80px;
    background-color: #7D7D7D;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-family: 'Lexend Giga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: white;
}